.border{
    width: 1000px;
    background: #eeeeee;
    border-left: solid 1px  #dddddd;
    border-right: solid 1px  #dddddd;
    border-bottom: solid 1px  #dddddd;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}
#extra{
    width: 900px;

    border: 1px solid #dddddd;
    margin: 34px auto 30px auto;
    font-size:20px;
    color:rgb(0,184,81)
}
#extra .inner-lock input{


}
#extra span{
    display: block;
    font-size: 20px;
}
#btn-text{
    margin: 10px 0 30px 30px;
}
#btn-text label{
    padding:10px;
    display: block;
    font-size: 18px;
}
#btn-text .textarea1{
    display: block;
}
#btn{
    margin:20px 50px;
}
#btn input{
    border-radius: 5px;

}
#btn-table tr td input{
    border-radius: 4px;
}
#btn-table select{
    border-radius: 5px;
    border: 1px solid rgb(0,184,81);
    width: 200px;
    height: 30px;
}
#btn-table select option{
    font-size: 18px;
}
#btn-table input{
    border-radius: 5px;
    border: 1px solid rgb(0,184,81);
    width: 200px;
    height: 30px;
}
#btn-table textarea{
    border: 1px solid rgb(0,184,81);
    border-radius: 10px;
    width: 300px;
    height: 50px;
}