*{
    padding: 0;
    bottom: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    height: 100%;
}
.nav{
    width: 30%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background: #1b6d85;
}
.nav-head{
    padding: 24px;
}
.nav-logo  a img{
    width: 36px;
    height: 36px;
}
.nav-logo,.head-list{
    float: left;
}
.head-list li{
    float: left;
}
.head-menu{
    float: right;
}













