.border{
    width: 1000px;
    height: 1150px;
    border-left: 1px solid #fbcb09;
    border-right:1px solid #fbcb09 ;
    border-bottom: 1px solid #fbcb09;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    background:#eeeeee;

}
#about{
    width: 900px;
    height: 1090px;
    border: 1px solid #dddddd;
    margin: 34px auto 0 auto;
}
.img2{
    margin: 29px;
}
#about p{
    font-size: 24px;
    margin: 0 29px 29px 29px;
    color:  #5F9F9F;
}