.border{
    width: 1000px;
    height: 575px;
    border-left: 1px solid #fbcb09;
    border-right: 1px solid #fbcb09;
    border-bottom: 1px solid #fbcb09;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    background:#eeeeee;
}
/*--download  begin---*/
#download{
    width: 900px;
    height: 507px;
    border: 1px solid #dddddd;
    margin: 34px auto 0 auto;
}
.downloads{
    margin-left: 33px;
    margin-top: 28px;
}
.downloads a{
    display: block;
    margin-bottom: 18px;
}
/*---download  end---*/